@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 300; }

hr {
  margin: 50px auto; }

/* NAVBAR STYLES */
.navbar {
  background-color: #21cf7e;
  color: white;
  width: 100%;
  padding: 0 20px;
  height: 50px;
  top: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
    .navbar a:hover {
      color: black; }
  .navbar span {
    font-size: 30px;
    font-weight: 100; }
  .navbar .navbar--left {
    display: flex;
    align-items: center; }
    .navbar .navbar--left li {
      list-style: none;
      margin-left: 30px; }
  .navbar .navbar--menu {
    display: none; }

@media screen and (max-width: 400px) {
  .navbar .navbar--left {
    display: none;
    flex-direction: column;
    margin-top: 40px; }
  .navbar .navbar--menu {
    display: flex; }
  .navbar .navbar--left__before {
    background-color: #21cf7e; } }

.intro--section {
  margin: 40px auto 50px auto;
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.521)), url("../imgs/bg.png");
  background-size: cover;
  height: 95vh;
  background-position: top;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .intro--section h1 {
    text-transform: uppercase;
    margin-bottom: 10px; }
  .intro--section p {
    color: #21cf7e; }
  .intro--section__name {
    display: flex;
    justify-content: center; }
  .intro--section__content {
    margin: 0 15px; }
  .intro--section .icons--contact ul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .intro--section .icons--contact a {
    color: white; }
  .intro--section .icons--contact li {
    list-style: none;
    margin: 10px;
    font-size: 30px; }
    .intro--section .icons--contact li:hover {
      color: #21cf7e; }

.about {
  max-width: 600px;
  margin: 50px auto; }
  .about h1 {
    margin-top: 30px;
    text-align: center;
    color: #21cf7e; }
  .about h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #21cf7e; }
  .about ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .about li {
    list-style: none;
    width: 100px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.979); }
    .about li i {
      font-size: 50px;
      margin-top: 5px; }

@media screen and (max-width: 630px) {
  .about {
    margin: 50px 15px; } }

.projects h2 {
  text-align: center;
  text-transform: uppercase;
  color: #21cf7e; }

.projects .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0; }

.projects img {
  width: 400px;
  height: 300px;
  margin: 5px; }

@media screen and (max-width: 400px) {
  .projects img {
    width: 350px;
    height: 250px;
    margin: 5px; } }

@media screen and (max-width: 300px) {
  .projects img {
    width: 250px;
    height: 150px;
    margin: 5px; } }

.contact {
  margin: 50px auto;
  max-width: 600px; }
  .contact h2 {
    text-transform: uppercase;
    text-align: center;
    color: #21cf7e; }
  .contact em {
    color: #21cf7e; }
    .contact em:hover {
      color: black; }
  .contact .icons--contact ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .contact .icons--contact a {
    color: #21cf7e; }
  .contact .icons--contact li {
    list-style: none;
    margin: 10px;
    font-size: 30px; }
    .contact .icons--contact li:hover {
      color: black; }

@media screen and (max-width: 630px) {
  .contact {
    margin: 50px 15px; } }

footer {
  background-color: #21cf7e;
  padding: 20px 0;
  color: white;
  text-align: center; }
  footer a:link,
  footer a:visited {
    color: white;
    text-decoration: none; }
  footer a:hover {
    color: black; }
