.contact {
  margin: 50px auto;
  // height: 100vh;

  max-width: 600px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    color: $navbar-color;
  }

  em {
    color: $navbar-color;
    &:hover {
      color: black;
    }
  }

  .icons--contact {

    ul {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    a {
      color: $navbar-color;
    }
    li {
      list-style: none;
      margin: 10px;
      font-size: 30px;
      &:hover {
        color: black;
      }
    }
    
  }

}

@media screen and (max-width: 630px) {
  .contact {
    margin: 50px 15px;
  }
}