footer {
  background-color: $navbar-color;
  padding: 20px 0;
  color: white;
  text-align: center;

  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: black;
  }
}