/* NAVBAR STYLES */

$navbar-color: rgb(33, 207, 126);
$navbar-color-font: white;

.navbar {
  #icon,
  #menu {
    margin: 5px 10px;
  }

  background-color: $navbar-color;
  color: $navbar-color-font;

  width: 100%;
  // padding: 0 20px;
  height: 50px;
  top: 0;

  z-index: 1;

  position: fixed;
  display: flex;
  align-items: center;

  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: black;
    }
  }
  span {
    font-size: 30px;
    font-weight: 100;
  }

  .navbar--left {
    display: flex;
    align-items: center;
    // font-weight: 700;

    li {
      list-style: none;
      margin-left: 30px;
    }
  }
  .navbar--menu {
    display: none;
  }

  .navbar--left__before {
    margin-right: 10px;
  }
}

@media screen and (max-width: 440px) {
  #icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .navbar--left a {
    margin-bottom: 10px;
  }

  .navbar {
    display: flex;
    flex-direction: column;

    .navbar--left {
      display: none;
      flex-direction: column;
    }

    .navbar--menu {
      display: inline-block;
      top: 0;
      right: 5px;
      position: absolute;
    }

    .navbar--left__before {
      background-color: $navbar-color;
      width: 103%;
      margin-top: 35px;
      // padding: 0 10px 10px 0;
    }
  }
}
