/* NAVBAR STYLES */

$navbar-color: rgb(33, 207, 126);
$navbar-color-font: white;


.navbar {
  background-color: $navbar-color;
  color: $navbar-color-font;
  
  width: 100%;
  padding: 0 20px;
  height: 50px;
  top: 0;

  z-index: 1;

  position: fixed;
  display: flex;
  align-items: center;

  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    &:hover {
      color: black;
    }
  }
  .main--logo {
    font-size: 30px;
    font-weight: 100;
  }

  .navbar--left {
    display: flex;
    align-items: center;

    

    li {
      list-style: none;
      margin-left: 30px;
    }
  }
  .navbar--menu {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  .navbar{
    // background-color: green;

    .navbar--left {
      display: none;
      flex-direction: column;
      margin-top: 40px;
    }

    .navbar--menu {
      display: flex;
    }

    .navbar--left__before {
      background-color: $navbar-color;
    }
    
  }
}