.projects {
  // background-color: red;

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $navbar-color;
  }
  .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
  }
  
  img {
    width: 400px;
    height: 300px;
    margin: 5px;
  }
}


@media screen and (max-width: 400px) {
  .projects {
    img {
      width: 350px;
      height: 250px;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 300px) {
  .projects {
    img {
      width: 250px;
      height: 150px;
      margin: 5px;
    }
  }
}