.projects {
  // background-color: red;

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $navbar-color;
  }
  .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
  }
  
  img {
    width: 400px;
    height: 300px;
    margin: 5px;
  }
}