.emerson:hover {
  background-color: #000;
  color: white;
  transition: .5s;

}

.emerson {
  animation-name: fadeIn;
  animation-duration: .7s;
  // animation-iteration-count: 1;
  // animation-timing-function: linear;
}

.icon-nav {
  animation-name: fadeInIcon;
  animation-duration: .7s;
  // animation-iteration-count: 1;
  // animation-timing-function: linear;
}

.icons-social {
  animation-name: fadeInIcons;
  animation-duration: .2s;
  animation-delay: .8s;
  // opacity: 0;
  animation-fill-mode: backwards; //for the opacity
}

.posts:nth-child(odd) {
  animation-name: comeLeft;
  animation-duration: 1.5s;
  // opacity: 0;
  animation-fill-mode: backwards; //for the opacity
  // background-color: rgb(47, 255, 127)
}

.posts:nth-child(even) {
  animation-name: comeRight;
  animation-duration: 1.5s;
  // opacity: 0;
  animation-fill-mode: backwards; //for the opacity
  // background-color: rgb(195, 0, 255);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }

}

@keyframes comeRight {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }

}

@keyframes comeLeft {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }

}

@keyframes fadeInIcon {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }

}

@keyframes fadeInIcons {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }

}