$main-font: 'Dosis', sans-serif;
$max-width: 900px;

@import url("https://fonts.googleapis.com/css?family=Dosis:200,300");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

@import "keyframes";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: $main-font;
}

html {
   /* 1REM now = 10px so it makes our lives easier */
   font-size: 62.5%;
}

.icons-social {
  display: flex;
  justify-content: center; /* center items horizontally, in this case */
  .social{
    // margin: auto;
    a:visited,
    a:active,
    a {
      color: #000;
    }
    list-style: none;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0 2rem ;

    a {
      &:hover {
        color: rgb(0, 110, 255);
      }
    }
    
  }



}

.ul {
  display: flex;
  max-width: $max-width;
  margin: auto;
  
  .top {
    list-style: none;
    flex: 1;
    font-family: $main-font;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0 2rem ;
  }
  
  .li {
    display: flex;
    flex-direction: row-reverse;
    .icon-nav {
      font-size: 6rem;
      font-weight: 100;
      // display: inline;
      margin-top: -.8rem;
      // margin-right: 3rem;
      color: #000;
    }

  } 
}

@media screen and (max-width: 602px) {
  li p span {
    display: none;
  }

}

.nav {
  // margin-bottom: 8rem;
}

.wrap {

}

.main {
  max-width: 900px;
  margin: 1rem auto;

  .posts {
    margin: 2rem;
    font-size: 2.5rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 4px;

    .title {
      text-transform: uppercase;
      text-align: center;
      background-color: #000;
      color: white;
      border-radius: 5px;
      
    }

    .content {
      text-align: justify;
      padding: 1.5rem;

      button {
        background-color: rgb(43, 129, 214);
        color: white;
        border-radius: 2px;
        padding: 2px;
        font-size: 2.2rem;
        outline: none;
        border: 1px solid #fff;
        border-radius: 5px;
        &:hover {
          background-color: white;
          border: 1px solid #000;
          transition: .5s;
        }

        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: #000;
          }
        }

      }

    }

  }

}

