@import url("https://fonts.googleapis.com/css?family=Dosis:200,300");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
.emerson:hover {
  background-color: #000;
  color: white;
  transition: .5s; }

.emerson {
  animation-name: fadeIn;
  animation-duration: .7s; }

.icon-nav {
  animation-name: fadeInIcon;
  animation-duration: .7s; }

.icons-social {
  animation-name: fadeInIcons;
  animation-duration: .2s;
  animation-delay: .8s;
  animation-fill-mode: backwards; }

.posts:nth-child(odd) {
  animation-name: comeLeft;
  animation-duration: 1.5s;
  animation-fill-mode: backwards; }

.posts:nth-child(even) {
  animation-name: comeRight;
  animation-duration: 1.5s;
  animation-fill-mode: backwards; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  75% {
    transform: translateX(5px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes comeRight {
  0% {
    opacity: 0;
    transform: translateX(-900px); }
  75% {
    transform: translateX(5px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes comeLeft {
  0% {
    opacity: 0;
    transform: translateX(900px); }
  75% {
    transform: translateX(-5px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes fadeInIcon {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  75% {
    transform: translateX(-5px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes fadeInIcons {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  75% {
    transform: translateY(-10px); }
  100% {
    transform: translate(0);
    opacity: 1; } }

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Dosis", sans-serif; }

html {
  /* 1REM now = 10px so it makes our lives easier */
  font-size: 62.5%; }

.icons-social {
  display: flex;
  justify-content: center;
  /* center items horizontally, in this case */ }
  .icons-social .social {
    list-style: none;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0 2rem; }
    .icons-social .social a:visited,
    .icons-social .social a:active,
    .icons-social .social a {
      color: #000; }
    .icons-social .social a:hover {
      color: #006eff; }

.ul {
  display: flex;
  max-width: 900px;
  margin: auto; }
  .ul .top {
    list-style: none;
    flex: 1;
    font-family: "Dosis", sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0 2rem; }
  .ul .li {
    display: flex;
    flex-direction: row-reverse; }
    .ul .li .icon-nav {
      font-size: 6rem;
      font-weight: 100;
      margin-top: -.8rem;
      color: #000; }

@media screen and (max-width: 602px) {
  li p span {
    display: none; } }

.main {
  max-width: 900px;
  margin: 1rem auto; }
  .main .posts {
    margin: 2rem;
    font-size: 2.5rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 4px; }
    .main .posts .title {
      text-transform: uppercase;
      text-align: center;
      background-color: #000;
      color: white;
      border-radius: 5px; }
    .main .posts .content {
      text-align: justify;
      padding: 1.5rem; }
      .main .posts .content button {
        background-color: #2b81d6;
        color: white;
        border-radius: 2px;
        padding: 2px;
        font-size: 2.2rem;
        outline: none;
        border: 1px solid #fff;
        border-radius: 5px; }
        .main .posts .content button:hover {
          background-color: white;
          border: 1px solid #000;
          transition: .5s; }
        .main .posts .content button a {
          text-decoration: none;
          color: white; }
          .main .posts .content button a:hover {
            color: #000; }
